<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Registration</title>
</head>
<body>
    <div class="container">
        <h1>Customer Login</h1>
        <div class="col-6">
            <form name="std-reg" method="post">
                {% csrf_token %}
                {% for fm in frm %}
                <div class="form-group">
                    {{fm.label_tag}} <span class="text-danger">{{fm.errors|striptags}}</span>
                    {{fm}}
                </div>
                {% endfor %}
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
            {% if frm.non_field_errors %} 
            {% for error in frm.non_field_errors %}
               <div class="alert alert-danger">{{error}}</div>
            {% endfor %} 
            {% endif %}
            <p>New Customer? <a href="{% url 'user-reg' %}">Click here</a></p>

        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>